.cart-icon {
  position: absolute;
  top: 8px;
  font-size: 23px;
}

.cart-img {
  width: 31px;
}

.cart-img:hover {
  width: 33px;
} 

.orders-counter {
  position: relative;
  top: -18px;
  right: 16px;
  border-radius: 15px;
  color: #FC6700;
  font-size: 12px;
  font-weight: 700;
}