.cart-icon {
  position: absolute;
  top: 8px;
  font-size: 23px;
}

.cart-img {
  width: 35px;
}

.cart-img:hover {
  width: 37px;
} 

.orders-counter {
  position: relative;
  top: -20px;
  right: 20px;
  border-radius: 15px;
  color: #FC6700;
  font-size: 12px;
  font-weight: 700;
}