.loader {
  padding: 70px 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #FC6801;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}